
# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel build output
.vercel/

# OS metadata
.DS_Store

# Optional IDE files
.vscode/
